@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Session</h3>
@Session["D1"]
<hr />

<h3>ViewBag</h3>
@ViewBag.D1
<hr />

<h3>ViewData</h3>
@ViewData["D1"]
<hr />

<h3>TempData</h3>
@TempData["D1"]
<hr />